form{
    display: flex;
    flex-direction: column;

}
/* styles.css */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  input,select{
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    border-radius: 30px;
    width: auto;
  }
  label{
    margin-top: 15px;
  }
  